<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>


<!--Styling code provided by W3SCHOOLS-->
<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>

<!-- About Page -->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
    <img src="/Assets/images/me.A1.jpg" width="200" height="200">
  <br></br> 
    <h2 style="text-align: center;">Joshua Timbol</h2>
    <p1 style="text-align: center;">Hello! My name is Joshua Timbol, I am an 18 year old student at Centennial College. I am currently
    in the Software Engineering Technology Co-Op stream. I enjoy learning about tech, playing video games with friends,
    going out and love listening to music! I am fairly new to the software scene as I did not take it as much as I would like
    in High School but I am loving what I learnt so far and I am excited to learn more as time goes on.
    </p1>
    <br></br> 
    <a href="/Assets/images/Joshua Timbol Resume.pdf">
      Click here to access my resume!
    </a>
    <br></br> 
    <br></br> 
    <br></br> 
    
  </main>
  



<%- include Partials/bottom_nav.ejs %>


 <%- include Partials/footer.ejs %>