<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>


<!--Styling code provided by W3SCHOOLS-->
<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<!-- Projects Page -->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
    <h1 style="text-align: center;"> ManagAIR Project (Software Engineering Methodologies) </h1>
    <br></br>
    <img src="/Assets/images/ManagAIR_1.png" >
    <img src="/Assets/images/ManagAIR_2.png">
    <img src="/Assets/images/ManagAIR_3.png">
    <img src="/Assets/images/ManagAIR_4.png">
    <img src="/Assets/images/ManagAIR_5.png">
    <br></br>
    <br></br>
    <br></br>
    <h1 style="text-align: center;" >SQLGamesLibrary (Introduction to Databases)</h1>
    <br></br>
    <img src="/Assets/images/SQL_1.png">
    <img src="/Assets/images/SQL_2.png">
    <br></br>
    <img src="/Assets/images/SQL_3.png"> 
    <br></br>
    <br></br>
    <h1 style="text-align: center;" >StockCheckR  (Object Oriented Programming) - IN PROGRESS </h1>
    <br></br>
    <img src="/Assets/images/stockcheckr_1.png">
    <br></br>
    <br></br>
  </main>
  


<%- include Partials/bottom_nav.ejs %>


 <%- include Partials/footer.ejs %>