<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>



<!--Styling code provided by W3SCHOOLS-->
<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>

<!--Services Page-->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
    <h1 style="text-align: center;">Services I offer:</h1>
    <br></br>
    <img src="/Assets/images/general programming.png" height=200>
    <h2 style="text-align: center;">General Programming</h2>
    <br></br>
    <img src="/Assets/images/Database Management.webp" width=440 height=200>
    <h2 style="text-align: center;">Database Management</h2>
    <br></br>
    <img src="/Assets/images/Web-Development.jpg" width=440 height=200>
    <h2 style="text-align: center;">Web Development</h2>
    <br></br>
    <br></br>
  </main>
  



<%- include Partials/bottom_nav.ejs %>


 <%- include Partials/footer.ejs %>