<!-- JOSHUA TIMBOL 301068352
     COMP229 SEC005
     ASSIGNMENT 2
     OCTOBER 22, 2020 -->

<%- include ../Partials/header.ejs %>

<%- include ../Partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>
            <a href="/business-contacts/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add a Contact</a>
            <br>
            <table class="table table-bordered-striped-hover">
                <!--Header Row-->
                <tr class="d-flex">
                <% if (typeof displayName == 'string' && displayName) { %>
                    <th class="text-center col-3">Name</th>
                    <th class="text-center col-3">Phone Number</th>
                    <th class="text-center col-3">Email Address</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <% } else { %>
                    <th class="text-center col-3">Name</th>
                    <th class="text-center col-3">Phone Number</th>
                    <th class="text-center col-3">Email Address</th>
                    <% } %>
                </tr>

                <!--Repeatable Table Row-->

                <%  for (let count = 0; count < BusinessContactList.length; count++) { %>
                    <tr class="d-flex">
                     <% if (typeof displayName == 'string' && displayName) { %>
                        <td class="text-center col-3"><%= BusinessContactList[count].name %></td>
                        <td class="text-center col-3"><%= BusinessContactList[count].number %></td>
                        <td class="text-center col-3"><%= BusinessContactList[count].email %></td>
                        <td class="text-center col-8">
                            <a href="/business-contacts/edit/<%= BusinessContactList[count]._id %>" class="btn btn-primary xs">
                            <i class="fas fa-pencil-alt"></i>Update</a>
                        </td>
                        <td class="col-2">
                            <a href="/business-contacts/delete/<%= BusinessContactList[count]._id %>" class="btn btn-danger xs">
                            <i class="fas fa-trash-alt"></i>Delete</a>
                            <% } else { %>
                         <td class="text-center col-3"><%= BusinessContactList[count].name %></td>
                        <td class="text-center col-3"><%= BusinessContactList[count].number %></td>
                        <td class="text-center col-3"><%= BusinessContactList[count].email %></td>
                        <% } %>
                        </td>
                    </tr>
                <% } %> 
            </table>
        </div>
    </div>
  </main>


<%- include ../Partials/bottom_nav.ejs %>


<%- include ../Partials/footer.ejs %>